.button {
    display: flex;
    gap: 4px;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 16;
    padding: 10px 14px;
    cursor: pointer;
    transition-duration: 0.1s;
}

.button.accent {
    background-color: var(--accent-color);
    border: none;
}

.button.accent:hover {
    background-color: var(--light-accent-color);
}

.button.accent:active {
    opacity: 0.8;
}

.button.outline {
    border-style: solid;
    border-color: var(--stroke-color);
    border-width: 0.5px;
    background-color: transparent;
}

.button.outline:hover {
    background-color: var(--stroke-color);
}

.button.outline:active {
    opacity: 0.8;
}
