.button-group {
    display: flex;
    gap: 4px;
}

.button-group * {
    border-radius: 4px;
}

.button-group.horizontal {
    flex-direction: row;
}

.button-group.horizontal *:last-child {
    border-radius: 4px 10px 10px 4px;
}

.button-group.horizontal *:first-child {
    border-radius: 10px 4px 4px 10px;
}

.button-group.vertical {
    flex-direction: column;
}

.button-group.vertical *:last-child {
    border-radius: 4px 4px 10px 10px;
}

.button-group.vertical *:first-child {
    border-radius: 10px 10px 4px 4px;
}
