* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body.dark-mode {
    --background-color: #030507;
    --card-color: #111418;
    --header-text-color: #ffffff;
    --body-text-color: #b1b1b1;
    --stroke-color: #888888;
    --accent-color: #2da15f;
    --light-accent-color: #2ee07b;
}

body.light-mode {
    --background-color: #ffffff;
}

body {
    background-color: var(--background-color);
    overflow-x: hidden;
}

p {
    font-size: 18px;
    line-height: 26px;
    color: var(--body-text-color);
}

h1 {
    color: var(--header-text-color);
    font-size: 56px;
}

h2 {
    color: var(--header-text-color);
    font-size: 44px;
}

h3 {
    color: var(--header-text-color);
    font-size: 36px;
}

h4 {
    color: var(--header-text-color);
    font-size: 22px;
}

.gradient-text {
    background: -webkit-linear-gradient(
        0deg,
        var(--accent-color),
        var(--light-accent-color)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #1f262d;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #272d34;
}

a {
    cursor: pointer;
    color: var(--body-text-color);
}
